extends layout
block content    
    h1=loggedin
    br
    span#socketMessage
    div#messages(style="width:500px; height:200px; border:1px solid black;overflow-y: scroll;")
    form#sendMsg(action="")
        input#textToSend(type="text")
        br
        input#sendBtn(type="submit", value="send")
